[Desktop Entry]
Name=GilStreaming
Comment=Stream games and applications from a GilStreaming gaming VM
Exec=gilstreaming
Icon=gilstreaming-logo
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=gilstreaming;gamestream;stream;sunshine;remote play;
